/* --------------width-1440 -----------
-------------------Start----------------*/
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    margin: 0;
}

/* ----Common Heading------*/

h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 80px;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
    line-height: 16px;
}

/* ----Header part start--------*/
.head{
    background-color: #2D25A0;
    padding-top: 52px;
    height: 677px;
}
.head:hover .banner-right img{
    transform: scale(1.2);
}
/* navigation bar start */
nav{
    margin-left: 156px;
    margin-right: 249px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}
.menu li{
    display: inline;
    margin: 10px 36px 10px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.head li a, .login-button a{
    color: white;
    text-decoration: none;
}
.fa-sign-in-alt{
    color: white;
    height: 24px;
    width: 24px;
    margin-right: 8px;
}
.login-button{
    padding: 10px 24px;
    background-color: #E02C6D;
}
/* navigation bar end */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    margin-top: 121px;
    padding-left: 156px;
    margin-bottom: 240px;
}
.moto{
    width: 485px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}
.watch-now-button a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #E02C6D; 
    padding: 10px 24px;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.banner-right img{
    height: 438px;
    width: 556px;
    margin-top: 67px;
    margin-bottom: 86px;
    margin-right: 141px;
    margin-left: 102px;
    transition:2s;
}
/* ----Header part End--------*/

/*---style for Players details field Start------*/

.players-section{
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}
.player{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info{
    margin: 15px;
}
.player-info img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 256px;
}
/*---style for Players details field End------*/
.video{
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    padding-right: 50px;
}
.mobile{
    display: none;
}
/*-----------style for Highlight field start--------------*/
.highlight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 165px;
}
.highlight-left{
    margin-left: 182px;
}
#highlight-heading{
    color: black;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    width: 460px;
}
.highlight-moto p{
    width: 440px;
}
.highlight-right img{
    height: 427px;
    width: 567px;
    margin-right: 156px
}
/*-----------style for highlight field End--------------*/

/*-----------style for Subscribe field start--------------*/
.subscribe{
    margin-top: 90px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.subscribe a{
    margin-left: 20px;
    padding: 15px 20px;
    border: 2px solid;
    border-color: #020202;
    background-color: #f39c7c;
    border-radius: 12px;
    color: white;
    font-weight: 800;
}
.mailbox{
    font-size: larger;
    padding:15px 10px;
    border: 2px solid;
    border-radius: 3%;
    background-color: #ebe1de;
}
.fa-paper-plane{
    height: 100px;
    width: 30px;
}
/* only for mobile version */
.mobile-version{
    visibility: hidden;
}
/*-----------style for Subscribe field End--------------*/

/*-----------style for footer start--------------*/
footer{
    margin-top: 0;
    padding-top: 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section{
    width: 484px;
    text-align: center;
}
.footer-section img{
    height: 110px;
    width: 484px;
}
.icon{
    margin: 7px;
    color: #969BAB;
    height: 32px;
    width: 32px;
}
/*-----------style for footer End--------------*/

/* --------------width-1440 -----------
-------------------End----------------*/


/* --------------width-360 -----------
-------------------Start----------------*/

@media only screen and (max-width:360px){
    body{
        font-family: 'Poppins', sans-serif;
        width: 360px;
        margin: 0;
    }
    /* ----Common Heading------*/
    h1{
        font-size: 36px;
        font-weight: 700;
        color: white;
        line-height: 50px;
    }
    h3{
        font-style: normal;
        font-size: 28px;
        font-weight: 700;
        margin-top: 16px;
        line-height: 40px;
    }
    /* ----Header part start--------*/
    .head{
        background-color: #2D25A0;
        height: 695px;
    }
    .head:hover .banner-right img{
        transform: scale(1.005);
    }
    /* navigation bar hide */
    nav{
        display: none;
    } 
    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner-left{
        margin-top: 52px;
        padding-left: 16px;
        margin-bottom: 50px;
    }
    .moto{
        width: 278px;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }
    .banner-right img{
        height: 260px;
        width: 329px;
        margin-top: 50px;
        margin-bottom: 61.83px;
        margin-right: 15px;
        margin-left: 15px;
        transition:2s;
    }
    /* ----Header part End--------*/

    /*---style for Players details field Start------*/
    .players-section{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 47px;
    }
    .players{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 24px;
    }
    .player{
        background-color: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    }
    .player-info{
        margin: 15px;
    }
    .player-info img{
        width: 300px;
        height: 256px;
    }
    /*---style for Players details field End------*/
    .video{
        padding-left: 20px;
    }
    .pc{
        display: none;
    }
    .mobile
    {
        display:block;
    }
    /*-----------style for Highlight field start--------------*/
    .highlight{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
     }
     .highlight-left{
         margin-left: 15px;
     }
     #highlight-heading{
         color: black;
         font-weight: 700;
         font-size: 30px;
         line-height: 40px;
         width: 292px;
     }
     .highlight-moto p{
         width: 329px;
     }
     .highlight-right img{
         height: 248px;
         width: 328px;
         margin: 29px;
     }
     /*-----------style for highlight field End--------------*/
    /*-----------style for Subscribe field start--------------*/
    .subscribe{
        margin-top: 29px;
        display: inline-block;
        text-align: center;
        width: 100%;
        position: relative;
    }
    .subscribe a{
        margin-left: 20px;
        padding: 15px 20px;
        border: 2px solid;
        border-color: #020202;
        background-color: #f39c7c;
        border-radius: 12px;
        color: white;
        font-weight: 800;
        margin-top: 50px;
    }
    .mailbox{
        font-size: larger;
        padding:15px 10px;
        border: 2px solid;
        border-radius: 3%;
        background-color: #ebe1de;
    }
    .fa-paper-plane{
        height: 100px;
        width: 30px;
    }
    
    .dekstop{
        visibility:hidden;
    }
    .mobile-version
    {
        margin:0;
        padding: 0;
        visibility:visible;
        position:relative;

    }
    /*-----------style for Subscribe field End--------------*/

    /*-----------style for footer start--------------*/
    footer{
        margin-top: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-section{
        text-align: center;
    }
    .footer-section img{
        width: 275px;
        margin-left: 16px;
        height: 63px;
    }
    .icon{
        color: #969BAB;
        height: 32px;
        width: 32px;
    }
    /*-----------style for footer End--------------*/
}
/* --------------width-360 -----------
-------------------End----------------*/