body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    margin: 0;
}
h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 80px;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
    line-height: 16px;
}
.head{
    background-color: #2D25A0;
    padding-top: 52px;
}
nav{
    margin-left: 151px;
    margin-right: 124px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    display: inline;
    margin: 0 5px;

}
.head ul li a, .login-button a{
    color: white;
    text-decoration: none;
}
.fa-sign-in-alt{
color: white;
height: 24px;
width: 24px;
margin-right: 8px;
}
.login-button{
    padding: 10px 24px;
background-color: #E02C6D;
}

.banner-left{
    padding-left: 156px;
}
.moto{
    width: 485px;
}
.banner{
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.watch-now-button a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #E02C6D; 
    padding: 10px 24px;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin-left: 8px;
}
.banner-right img{
    height: 438px;
    width: 556px;
    margin-top: 153px;
    margin-bottom: 86px;
    margin-right: 141px;
}
.players-section{
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}
.player{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info{
    margin: 15px;
}
.player-info img{
    width: 300px;
    height: 256px;
}
.highlight-right img{
    height: 427px;
    width: 567px;
}
footer{
    margin-top: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section{
    width: 484px;
    text-align: center;
}
.footer-section img{
    height: 110px;
    width: 484px;
}
.icon{
    margin: 7px;
    color: #969BAB;
    height: 32px;
    width: 32px;
}
.highlight{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 165px;
}
.highlight-left{
    margin-left: 182px;
}
#highlight-heading{
    color: black;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    width: 460px;
}
.highlight-right img{
    margin-right: 156px
}